body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282727;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gameArea {
    position: relative;
    width: 710px;
    height: 500px;
    border-radius: 5px;
    background-color: rgba(222, 223, 156, 0.815);
}

.overlap {
    position: absolute;
    width: 710px;
    height: 500px;
    background-color: rgba(222, 223, 156, 0.815);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

#gameInstructions {
    position: absolute;
    display: none;
    width: 380px;
    height: 80px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 5px;
    background-color: rgb(200, 197, 197);
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#paddle {
    position: absolute;
    background-color: #4c5d9f;
    border-radius: 5px;
}

#ball {
    position: absolute;
    background-color: rgb(92, 92, 92);
    border-radius: 50%;
}

.bricks {
    position: absolute;
    background-color: rgb(228, 112, 77);
    border-radius: 4px;
}

#startScreen p {
    font-size: 50px;
    margin: 0;
    padding: 20px;
}

#winScreen p {
    font-size: 50px;
    margin: 0;
    padding: 20px;
}

#gameOverScreen p {
    font-size: 50px;
    margin: 0;
    padding: 20px;
}

